<div class=margine>
  <header class="banner">
    <div class="cocktail-logo">
      <%= image_tag "cocktail_2.png", alt: "logo", class:"logo" %>
    </div>

    <div class="text-box">
      <h1 class="heading-primary" >
        <span class="heading-primary-main"> Cocktail world</span>
        <span class="heading-primary-sub"> Create your own cocktails and become a master</span>
      </h1>

      <%= link_to new_cocktail_path, class:"btn btn-white-border" do %>
          <i class="fas fa-plus" style="font:$headers-font;"> Create a new cocktail</i>
      <% end %>
    </div>
  </header>

  <div class="heading-primary-sub pink text-center">
    <h2>Explore our cocktails and add your touch</h2>
    <h2>with new ingredients</h2>
  </div>

  <div class="container d-flex">
    <% @cocktails.each do |cocktail| %>
      <% if cocktail.photo.url %>
        <%= link_to cocktail_path(cocktail) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
          <%= cocktail.name %>
          <% end %>
          <%= link_to cocktail, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      <% else %>
        <%= link_to cocktail_path(cocktail) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.pexels.com/photos/68672/beach-beverage-caribbean-cocktail-68672.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500')">
          <%= cocktail.name %>
          <% end %>
          <%= link_to cocktail, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>







