<header class="banner">
  <div class="cocktail-logo">
    <%= image_tag "cocktail_2.png", alt: "logo", class:"logo" %>
  </div>

  <div class="text-box">
    <h1 class="heading-primary" >
      <span class="heading-primary-main"> Cocktail world</span>
      <span class="heading-primary-sub"> Create your own cocktails and become a master</span>
    </h1>

    <%= link_to new_cocktail_path do %>
      <i class="fas fa-plus"> Create a new cocktail</i>
    <% end %>
  </div>
</header>


<div class="d-flex justify-content-center">
  <% @cocktails.each do |cocktail| %>
    <% if cocktail.photo.url %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
        <%= link_to cocktail.name, cocktail_path(cocktail)%>
        <%= link_to cocktail, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    <% else %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.pexels.com/photos/68672/beach-beverage-caribbean-cocktail-68672.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500')">
        <%= link_to cocktail.name, cocktail_path(cocktail)%>
        <%= link_to cocktail, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>







