  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <a class="navbar-brand" href="/">
      <%= image_tag "cocktail_2.png", alt: "logo", class:"logo" %>
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="" />
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Contact Lola</a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="text-center">
    <h2 class=cocktail-title><%= @cocktail.name.capitalize %></h2>
     <div class= "d-flex justify-content-around align-items-center">
        <div class="pattern">

        </div>

         <% if @cocktail.photo.url %>
           <div class="cocktail-show" style="background-image: url('<%= cl_image_path @cocktail.photo, height: 450, width: 450, crop: :fill %>');">
         <% else %>
           <div class="cocktail-show" style="background-image: url('https://images.pexels.com/photos/68672/beach-beverage-caribbean-cocktail-68672.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500')">

         <% end %>


           </div>
          <div class="text-show">
            "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ipsum rerum, modi corporis amet cupiditate debitis, numquam officiis eligendi, nostrum nulla doloremque culpa voluptate provident officia, pariatur nobis tempora! Laborum"
          </div>
      </div>
      <br>
      <br>
      <h5 class=text-center>Ingredients</h5>
      <div class=show-ingredients>
        <% @cocktail.doses.each do |dose| %>
                    <tr>
                      <td><%= dose.ingredient.name %></td>
                      <td><%= dose.description %></td>
                      <td>
                        <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
                          <i class="fas fa-times" style="color:purple;"></i>
                        <% end %>
      <% end %>
      </div>
     <!--  -->
    <br>
    <br>
    <br>
  </div>
    <div class="container mx-3">
      <br>
      <h3>Add an ingredient</h3>
        <%= simple_form_for [@cocktail, @dose] do |f|%>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit "Add an ingredient", class: "button-purple-border"%>
        <% end %>
        <br>
      <%= link_to "Back", root_path %>
    </div>


